version: "3.9"

services:
  db:
    image: postgres:15
    container_name: diabetes_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: warehouse
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d warehouse"]
      interval: 5s
      timeout: 5s
      retries: 20

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      db:
        condition: service_healthy

  ingest:
    build: .
    container_name: ingest_service
    command: ["python", "ingest.py"]
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure
    volumes:
      - .:/app

  transform:
    build: .
    container_name: transform_service
    command: ["python", "transform.py"]
    depends_on:
      - ingest
    restart: on-failure
    volumes:
      - .:/app

volumes:
  pgdata:
